<footer>
    <div class="footer-left">
        <img src="/imagenes/logo.svg" alt="logo Tienda Mueble">
        <h2 class="titulo-blanco titulo-foot">Tienda de Muebles</h2>
    </div>
        <p>Imagenes pertenecientes a <a href="https://www.freepik.es/">https://www.freepik.es/</a></p>

</footer>